/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url('components/Banner.css');
@import url('components/Card.css');
@import url('components/Footer.css');
@import url('components/Button.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color:#286171;
  color:#f5eee7;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
    margin-top: 40px;
  text-decoration: none;
}

form{
  margin-top: 40px;
}


/* Custom design below! */

